{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../static/styles/base.css">
    </link>
</head>

<body id="body">
    <div class="navbar">
        <div class="navbar__container">
            <span class="navbar__title">HollyMovies</span>
            <span class="hello__message">
                {% if user.username %}Hello, {{ user.username }}!
                {% endif %}
            </span>
            <a class="navbar__logout"  href="{% url 'logout' %}"><button>Logout</button></a>
        </div>
    </div>
    <div class="content">
        <div class="content__container">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>

<script>
   const body_element = document.getElementById("body")
   body_element.addEventListener("contextmenu", function (evt) {
        evt.preventDefault();
    })
</script>