{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="../../static/styles/movies.css">
</link>
<div class="container">
    <div>There are {{object_list|length}} movie{{object_list|length|pluralize}}.</div>
    <form>
        <span>Filtre by genre</span>
        <select id="genre_filtre">
            <option value="All">All</option>
            {% for genre in genres %}
             <option value="{{ genre.name }}" {% if genre.name == genre_filter %}selected{% endif %}>{{ genre.name }}</option>
            {% endfor %}
        </select>
    </form>

    <a href="{% url 'movie_create' %} ">
        <button class="Create_button">Add movie</button>
    </a>
    {% for movie in object_list %}
    <div class="movie-card">
        <div class="movie__title-trash">
            <div class="movie__title">{{movie.title}}</div>
                <div class="trash__edit__container">
                    <div class="movie__edit__container">
                        <a href="{% url 'movie_update' movie.pk %}" target="_blank" rel="noopener noreferrer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="movie__edit" fill="none">
                                    <path
                                        d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                            </svg>
                        </a>
                    </div>
                    <div class="movie__trash__container">
                        <a href="{% url 'movie_delete' movie.pk %}" target="_blank" rel="noopener noreferrer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="movie__trash" fill="none">
                                <path
                                    d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        <div class="movie__description">{{movie.description}}</div>
        
        <div class="movie__rating-genre">
            <div class="movie__rating">
                <img src="../../static/images/star.svg" width="14" class="movie__star" />
                <span>{{movie.rating}}</span>
            </div>
            <div class="movie__genre">{{movie.genre.name}}</div>
        </div>
    </div>

    {% endfor %}
</div>

<script>

    const element=document.getElementById("genre_filtre") 
    console.log(element)
    element.addEventListener("change", function(){
        console.log("Genul a fost schimbat!", this.value)
        window.location.href='/movies/'+this.value
    }) 
    
</script>
{% endblock %}

    